/* GFONT */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root {
    --color1: #16c79a;
    --color2: #19456b;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--color2);
}

section {
    padding: 20px;
}

section h3 {
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color1);
}

/* NAVBAR */
.navbar-brand {
    margin-left: auto !important;
    margin-right: auto !important;
}

.navbar .navbar-brand span {
    font-family: 'Chakra Petch', sans-serif !important;
    font-weight: 600;
    padding-left: 10px;
}

.bg-light {
    background-color: white !important;
}

/* HOME PAGE */
#home h1 {
    color: var(--color2);
    font-size: 40px;
    margin-top: 130px;
    font-weight: 800;
}

#home span {
    color: var(--color1);
}

.home img {
    position: absolute;
    max-width: 270px;
    margin-top: -165px;
    margin-left: 130px;
}

.home .sosmedIcons {
    padding-top: 80px;
    margin-left: -40px;
    list-style-type: none;
}

.home .sosmedIcons li {
    margin: 30px 0 30px 0;
}

.home .sosmedIcons a {
    color: var(--color2);
    text-decoration: none;
    transition: .3s;
}

.home .sosmedIcons .isFacebook:hover {
    color: #3b5998;
    transition: .3s;
}

.home .sosmedIcons .isTwitter:hover {
    color: #00acee;
    transition: .3s;
}

.home .sosmedIcons .isInstagram:hover {
    color: #DD2A7B;
    transition: .3s;
}

/* PROJECT PAGE */
.card {
    margin-bottom: 25px;
}

.card-custom {
    overflow: hidden;
    min-height: 390px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
}

/* ABOUT PAGE */
.about {
    margin-top: 150px;
}

.about .card {
    margin-bottom: 20px;
}

.about img {
    margin-top: -45px;
    max-width: 420px;
    padding-top: 50px;
}

.about .card span {
    font-weight: bolder;
    position: absolute;
    margin-top: 10px !important;
}

.about .card .bx {
    font-weight: bolder;
    position: relative;
    margin-top: 5px !important;
}

.about .card p {
    position: absolute;
    margin-top: 10px !important;
    padding-left: 305px;
}

.about h5 {
    font-weight: bolder;
}

.progress-bar {
    background-color: var(--color2) !important;
}

/* CONTACT PAGE */
.contact .card {
    padding: 30px 40px;
    margin-top: 20px;
    margin-bottom: 60px;
    border: none !important;
    /* box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2) */
}

.contact .form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.contact .btn-block {
    margin-left: 67%;
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
    /* padding: 0 50px 0 50px; */
}

.contact .btn-primary {
    background-color: var(--color2) !important;
    border: var(--color2);
    transition: .5s;
}

.contact .btn-primary:hover {
    background-color: var(--color1) !important;
    border: var(--color1);
    transition: .5s;
}

.contact .btn-block:hover {
    color: #fff !important
}

.contact button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

/* FOOTER */

footer {
    padding: 20px 0;
    background-color: var(--color2);
    color: var(--color1);
}

footer p {
    padding-top: 10px;
    letter-spacing: 2px;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {

    /* NAVBAR */
    .navbar-brand {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .navbar .nav-link {
        text-transform: uppercase;
        font-weight: 600;
        transition: .6s;
    }

    .navbar .nav-item a:hover {
        color: var(--color1) !important;
        text-shadow: 1px 2px 9px rgba(255, 255, 255, 0.64);
        transition: .6s;
    }

    /* HOME */
    #home h1 {
        margin-top: 180px;
    }

    .home img {
        margin-top: 150px;
        margin-left: 150px;
        max-width: 400px;
    }

    .home .btn-outline-primary {
        transition: .5s;
        color: var(--color1);
        border-color: var(--color1);
        padding: 10px 30px 10px 30px;
        margin-top: 50px;
        font-weight: 800;
    }

    .home .btn-outline-primary:hover {
        transition: .5s;
        color: var(--color2);
        background-color: var(--color1);
        padding: 10px 30px 10px 30px !important;
        padding: 10px;
        margin-top: 50px;
        box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.75);
    }

    .home .sosmedIcons li {
        display: inline;
        margin: 0 20px 0 20px;
    }

    .home .sosmedIcons {
        margin-top: 60px;
    }

    /* SKILL PAGE */

    .about {
        margin-top: 8px;
    }

    .about .card p {
        padding-left: 495px;
    }

    /* CONTACT PAGE */
    .contact .btn-block {
        margin-left: 366px;
        padding: 0 50px 0 50px;
    }
}